*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-background: #191d2b;
    --color-text: #ffffff;
    --color-green: #27ae60;
    --color-grey:#454e56;
    --color-blue :#b2becd;
    --box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

body{
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    color: var(--color-text);
    transition:all 0.5s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color:inherit;
    font-family: inherit;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all 0.5s ease-in-out;
    background-color: var(--color-background);
}

// .sec1{
//     display: none;
//     transform: translateY(0) scale(1);
// }

// .sec2{
//     display: none;
//     transform: translateY(0) scale(1);
// }

// .sec3{
//     display: none;
//     transform: translateY(0) scale(1);
// }

// .sec4{
//     display: none;
//     transform: translateY(0) scale(1);
// }

// .sec5{
//     display: none;
//     transform: translateY(0) scale(1);
// }

.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);

    @keyframes appear {
        0% {
            transform: translateY(-100%) scaleY(0);
        }

        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}

// Controls

.controls{
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-green) !important;
        transition: all .5 ease-in-out;
        i {
            color: var(--color-text) !important;
        }
    }
    .control{
        border: none;
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        box-shadow: var(--box-shadow);
        i {
                font-size: 1.4rem;
                color: var(--color-blue);
            }
        &:hover {
                background-color: var(--color-green);
            }
        
    }
}

// HEADER

.header-content{
    padding: 5rem ;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-part{
    margin-right: 100px;
}

.image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.right-part{
    max-width: 700px;
    width: 100%;
    padding: 30px;
}

.name {
    color: var(--color-green);
}

.main-text{
    margin-bottom: 30px;
}


.header-text{
    margin-bottom: 30px;
}

.download-btn{
    cursor: pointer;
    width: 210px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: var(--color-blue);
    background-color: var(--color-grey);
    transition: all .5s cubic-bezier(.07, .63, .95, .45);
    &:hover{
        color: var(--color-text);
        background-color: var(--color-green);
    }
}

.fa-download{
margin-right: 10px;
}

// ABOUT SECTION

.about_title{
    text-align: center;
}

.about_pseudo-title{
    margin-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid var(--color-green);
}

.about_skills-wrapper{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_skills-list-left{
    margin-right: 180px;
}

.about_skills-item{
    display: flex;
    align-items: center;
}

.about_skills-item:not(:last-child){
    margin-bottom: 10px;
}

.about_lang-list{
    margin-left: 10px;
}

.about_lang-item{
    display: flex;
    align-items: center;
}

.about_lang-item:not(:last-child) {
    margin-bottom: 10px;
}

.about_work-item:not(:last-child){
    margin-bottom: 20px;
}

.about_work-item-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_work-item-title{
    margin: 5px;
    color: var(--color-green);
}

.about_work-item-descr{
    margin-left: 30px;
    font-size: 14px;
}
.about_work-item-duration{
    opacity: .7;
    margin-bottom: 5px;
}




.about_edu-item:not(:last-child) {
    margin-bottom: 20px;
}

.about_edu-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_edu-item-title {
    margin: 5px;
    color: var(--color-green);
}

.about_edu-item-descr {
    margin-left: 30px;
    font-size: 14px;
}

.about_edu-item-duration {
    opacity: .7;
    margin-bottom: 5px;
}



// PORTFOLIO

.portfolio_title {
    text-align: center;
}

.portfolio_pseudo-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.portfolio_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio_item{
    padding: 15px;
}

.portfolio_image{
    border-radius: 8px;
    max-width: 100%;
    
}

.portfolio_item-text{
    margin-top: 15px;
    text-align: center;
}


// CONTACT
.contact_title {
    text-align: center;
}

.contact_pseudo-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contact_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.contact_icon{
    fill: var(--color-blue);
    &:hover{
        fill: var(--color-text);
    }
}

.contact_low-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.contact_low-item{
    margin: 10px 0;
}